.bot-nav {
    display: none;
}
#bot-nav-three {
    display: block;
}
.logo {
    max-width: 80px;
}
header {
    background-color: rgb(255, 255, 255);
    margin: -10px -10px 10px -10px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 21%;
    padding-top: 16px;
}
.nav {
    margin: 15px;
    padding-left: 0;
}
.bottom-nav {
    margin-top: 15px;
}
.bot-nav a {
    color: #006341;
    margin: 10px;
    font-weight: 500;
    font-size: larger;
}
.top-nav a:active {
    color: #006341;
}
.active {
    color: #006341;
}
.top-nav a {
    color: #6bb44d;
    margin: 10px;
    font-size: large;
}