.logo {
    max-width: 80px;
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 5px;
    background-color: white;
    border-right: 1px solid #505458;
    z-index: 100;
}
.hamburger-menu, .search-btn {
    display: none;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #006341;
}
.search-mobile {
    display: none;
    position: fixed;
    font-size: 25px;
    top: 0;
    padding: 30px 0 0 30px;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #505458;
    z-index: 100;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
    display: none; /* Initially hidden */
    z-index: 99; /* Layer the overlay on top */
}
@media screen and (min-width:1025px) {
    .bot-nav {
        display: none;
    }
    #bot-nav-three {
        display: block;
    }
    header {
        background-color: rgb(255, 255, 255);
        margin: -10px -10px 10px -10px;
        display: grid;
        grid-template-columns: 8% 92%;
        padding: 0px 18%;
        padding-top: 16px;
    }
    .nav {
        margin: 15px;
    }
    .bottom-nav {
        margin-top: 6px;
    }
    .bot-nav a {
        color: #006341;
        margin-right: 30px;
        font-weight: 600;
        font-size: 19px;
    }
    .top-left-nav a:active {
        color: #006341;
    }
    .active {
        color: #006341;
    }
    .top-left-nav a, .top-left-nav-mobile a {
        color: #006341;
        margin-right: 3%;
        font-size: large;
    }
    .top-nav {
        display: grid;
        grid-template-columns: auto auto;
    }
    .top-right-nav {
        display: flex;
        right: 0;
    }
    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1%;
        color: #006341;
        font-size: 11px;
        font-weight: normal;
    }
    .search  {
        border: solid 1px black;
        padding: 5px;
    }
    .search input, .search button {
        border: 0;
        max-width: 100px;
        background-color: rgb(255, 255, 255);
    }
    .headIcon {
        color: #006341;
        font-size: 20px;
    }
}
@media screen and (min-width:801px) and (max-width:1024px) {
    .bot-nav {
        display: none;
    }
    #bot-nav-three {
        display: block;
    }
    header {
        background-color: rgb(255, 255, 255);
        margin: -10px -10px 10px -10px;
        display: grid;
        grid-template-columns: 8% 92%;
        padding: 0px 2%;
        padding-top: 15px;
    }
    .nav {
        margin: 10px;
    }
    .bottom-nav {
        margin-top: 6px;
    }
    .bot-nav a {
        color: #006341;
        margin-right: 10px;
        font-weight: 600;
        font-size: 18px;
    }
    .top-left-nav a:active {
        color: #006341;
    }
    .active {
        color: #006341;
    }
    .top-left-nav a, .top-left-nav-mobile a {
        color: #006341;
        margin-right: 15px;
        font-size: 18px;
    }
    .top-nav {
        display: grid;
        grid-template-columns: auto auto;
    }
    .top-right-nav {
        display: flex;
        right: -10px;
    }
    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
        color: #006341;
        font-size: 11px;
        font-weight: normal;
    }
    .search  {
        border: solid 1px black;
        padding: 5px;
        max-width: 170px;
    }
    .search input, .search button {
        border: 0;
        max-width: 100px;
        background-color: rgb(255, 255, 255);
    }
    .headIcon {
        color: #006341;
        font-size: 18px;
    }
}
@media screen and (max-width:800px) {
    header {
        background-color: rgb(255, 255, 255);
        margin: -10px -10px 10px -10px;
        padding: 10px 0;
    }
    .mobile-header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
    .top-nav, .bottom-nav {
        display: none;
    }

    .hamburger-menu, .search-btn {
        display: block;
    }
    .hamburger-menu-close {
        right: -30px;
        position: absolute;
        background: white;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }
    .bot-nav, .bot-nav-mobile {
        display: none;
    }
    .open {
        display: block;
    }
    .search-mobile input {
        font-size: 25px;
        max-width: 200px;
        padding: 5px;
    }
    .nav {
        margin: 15px;
    }
    .ham-bottom-nav {
        margin-top: 6px;
    }
    .bot-nav-mobile a {
        color: #006341;
        display: flex;
        border-bottom: 1px solid gray;
        font-weight: 600;
        font-size: 19px;
        padding: 10px 0px 0px 10px;
    }
    .top-left-nav a:active {
        color: #006341;
    }
    .active {
        color: #006341;
    }
    .top-left-nav-mobile a {
        color: #006341;
        font-size: 16px;
        background-color: #EEF9F7;
        padding:10px;
        border: 0.5px solid gray;
    }
    .top-right-nav-mobile {
        bottom: 0;
        justify-content:space-around;
    }
    .nav-item {
        display: flex;
        padding: 10px;
        color: #006341;
        font-size: 16px;
        font-weight: normal;
        border-bottom: grey 1px solid;
    }
    .search  {
        border: solid 1px black;
        padding: 5px;
    }
    .search input, .search button, .search-mobile input, .search-mobile button {
        border: 0;
        background: none;
    }
    .headIcon {
        color: #006341;
        font-size: 20px;
        margin-right: 5px;
    }
    
}


