@font-face {
    font-family: 'PreemSansNew';
    src: url('Preem Sans New/Web/PreemSansNew-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 800; 
}
@font-face {
    font-family: 'PreemSansNew'; 
    src: url('Preem Sans New/Web/PreemSansNew-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'PreemSansNew';
    src: url('Preem Sans New/Web/PreemSansNew-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'PreemSansNew'; 
    src: url('Preem Sans New/Web/PreemSansNew-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal; 
}

body {
    background-color: #EEF9F7;
    font-family:'PreemSansNew', Calibri, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 25%;
}
aside {
    float: left;
}
.main {
    display: block;
    margin-right: 20px;
}
.side-nav a {
    display: flex;
}
footer {
    margin: 10px -10px -10px -10px;
    padding: 10px;
    background-color: #575A61;
    color: #A5AEB3;
}
footer a {
    color: white;
}

.faq-list {
    display: none;
}

.faq-list.open {
    display: block;
}

.answer {
    display: none;
}

.answer.open {
    display: block;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size:3em;
    color: #575A61;
}
.indexContainer {
    display: grid;
    grid-template-columns: auto auto;
}
