@font-face {
    font-family: 'PreemSansNew';
    src: url('Preem Sans New/Web/PreemSansNew-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 800; 
}
@font-face {
    font-family: 'PreemSansNew'; 
    src: url('Preem Sans New/Web/PreemSansNew-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'PreemSansNew';
    src: url('Preem Sans New/Web/PreemSansNew-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'PreemSansNew'; 
    src: url('Preem Sans New/Web/PreemSansNew-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal; 
}

body {
    background-color: #EEF9F7;
    font-family:'PreemSansNew', Calibri, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 21%;
}
aside {
    float: left;
}
.main {
    display: block;
    margin: 20px;
}
.side-nav a {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 15px;
    color: #575a61d5;
}
.side-nav h3 {
    color: #575A61;
    margin-bottom: -5px;
}

.faq-list {
    display: none;
}

.faq-list.open {
    display: block;
}

.answer {
    display: none;
}

.answer.open {
    display: block;
}

h1, h2, h3, h4 {
    font-weight: 500;
    color: #575A61;
}

h1 {
    font-size:3em;
    
}
.indexContainer {
    display: grid;
    grid-template-columns: auto auto;
}

.side-nav a.active {
    background-color: white;
    color: #006341;
}
